@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Source+Sans+Pro:wght@300&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background: #3E4D6A;
}

body {
  overflow: scroll;
  overflow-x: hidden;

}

canvas {
  position: fixed;
  top: 0;
  left: 0;
}

:root {
  --dark-bg: rgba(15, 15, 15, 0.315);
  font-family: 'Source Sans Pro', sans-serif;
}

main {
  width: 100vw;
  color: white;
  z-index: 99;
  position: absolute;
  width: 100%;
  margin: 0px auto;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

h1,
h2,
h3 {
  font-family: 'Playfair Display', serif;
  font-weight: 500;
  color: #FF8811;
  text-transform: uppercase;
  padding-top: 10px;
}

p {
  padding-top: 5px;
}

header {
  font-size: 3.5rem;
}

header p {
  font-size: 1.5rem;
}

section {
  height: 100vh;
  grid-column: 6 / 12;
  padding: 2rem;
  /* background: var(--dark-bg); */
  font-size: 1.25rem;
  line-height: 1.5;
  display: flex;
  align-items: center;
  justify-content: center;
}

section:nth-child(even) {
  padding-left: 15%;
}

section:nth-child(odd) {
  grid-column: 2 / 8;
  padding-right: 15%;
}

a {
  text-decoration: none;
}

img {
  width: 124px;
  height: 124px;
  margin-right: 20px;
  margin-top: 20px;
}

/* --- Loadingscreen --- */
#loading-screen {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000000;
  opacity: 1;
  transition: 1s opacity;
}

#loading-screen.fade-out {
  opacity: 0;
}

#loader {
  display: block;
  position: relative;
  left: 50%;
  top: 50%;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #ffb07a;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

#loader:before {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #ff9147;
  -webkit-animation: spin 3s linear infinite;
  animation: spin 3s linear infinite;
}

#loader:after {
  content: "";
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #fc6603;
  -webkit-animation: spin 1.5s linear infinite;
  animation: spin 1.5s linear infinite;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}